<!-- <div class="edit-profile-container"> -->

<div class="edit-inputs">
    <form action="/edit" method="post">
        <ul>
            <li>First name<input class="edit" name="first" type="text" value="{{first}}"></li>
            <li>Last name<input class="edit" name="last" type="text" value="{{last}}"></li>
            <li>Email<input class="edit" name="email" type="text" value="{{email}}"></li>
            <li>Age<input class="edit" name="age" type="text" value="{{age}}"></li>
            <li>City<input class="edit" name="city" type="text" value="{{city}}"></li>
            <li>Homepage<input class="edit" name="homepage" type="text" value="{{homepage}}"></li>
            <li>Password<input class="edit" name="password" type="password"></li>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </ul>

</div>

<div>
<img class="profile-image" src="morning.jpg">
</div>

<div class="nav">
<button>update profile</button>
{{> nav-menu}}
</div>
    </form>
<!-- </div> -->
