<div class="container-signed">

<h2 id="signed-text">We, the undersigned, <span>pour Milk Before Cereal</span></h2>

<div class="all-signers">
    <ul>
        {{#signers}}

    <li> {{#if homepage}} <a class="sign-href" href="{{homepage}}">   {{first}}    {{last}} </a>
        {{else}} {{first}} {{last}}
        {{/if}}

        {{#if age}} |
        {{age}} |  {{/if}}

        {{#if city}} <a class="sign-href" href="/signed/{{city}}"> {{city}} </a>
        {{/if}}
    </li>
    {{/signers}}
</ul>
</div>

<div class="nav">
{{> nav-menu portfolio=true}}
<div>

<div>
